[submodule "ros_ws_uuv/src/px4_msgs"]
	path = ros_ws_uuv/src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
	branch = release/1.15
[submodule "ros_ws_uuv/src/px4_ros_com"]
	path = ros_ws_uuv/src/px4_ros_com
	url = https://github.com/PX4/px4_ros_com.git
	branch = main
[submodule "ros2_desktop/src/px4_msgs"]
	path = ros2_desktop/src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
	branch = release/1.15
[submodule "ros2_desktop/src/px4_ros_com"]
	path = ros2_desktop/src/px4_ros_com
	url = https://github.com/PX4/px4_ros_com.git
	branch = main
